.*
*~
!/.gitignore
!/.travis.yml
*.exe
*.tar.gz
*.zip
*.obj
*.lib
*.o
*.dSYM
/primecount*
/libprimecount*
build
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
