.*
*~
!/.gitignore
*.exe
*.tar.gz
*.zip
*.obj
*.lib
*.o
*.dSYM
/primecount*
!/primecount.pc.in
libprimecount*
primecount.lib
/doc/primecount.xml
/lib/primesieve/primesieve
libprimesieve*
primesieve.lib
primesieve.pc
DoxyFile
/build*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
