.*
*~
!/.gitignore
!/.travis.yml
*.exe
*.tar.gz
*.zip
*.obj
*.lib
*.o
*.lo
*.la
/primecount
/primesieve*
/include/primesieve*
/bin/*
/lib/*
Makefile
Makefile.in
autoconf.h*
confdefs.h
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.*
/configure
/depcomp
/html
/install-sh
/libtool
/ltmain.sh
/m4
/missing
stamp-*
/test-driver
/compile
